@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	background-color:#e7e6eb;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif
}
a{
	color:inherit;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
	cursor:pointer;
}
h1, h2, h3, h4, h5, h6{
margin:0px;
}
ul{
	list-style-type:none;

}

.special{
	background-color:#e4626e;
	color:white;
}
.container{
	margin:auto;
	width:max-content;	
}

#header{
	position:relative;
	height:60px;;
	background-color:white;
		
}
	#header .logo{
		position: absolute;
  		left: 50px;
  		bottom:10px;	
	}
		#header .logo img{
		width:75px;	
	}
	#header .midMenu{
		position: absolute;
  		left: 50%;
		bottom:10px;
		
		font-weight:bold;
		color:#43489c;
	}
		#header .midMenu ul{
			display:inline-block;
			padding:0px;
			margin:0px;	
		}
		#header .midMenu li{
			display:inline-block;
		}
			#header .midMenu img{
				width:32px;
			}
	#header .rightMenu{
		position: absolute;
  		right: 50px;
 		bottom:10px;
	}
	
#banner{
	background-color:white;
	text-align:center;
}
	#banner{
		padding:75px 0px;;	
	}

#features{
	
}
	#features .col{
		display:inline-block;
		width:33%;
		text-align:center;
	}
	#features img{
		float:left;
	}
	
#services{
	text-align:center;
	background-color:#43489c;
	color:white;
}
	#services ul{
		list-style-type:none;
	}
		#services li{
			display:inline-block;
		}

#content{

}
	#content .box{
		display:inline-grid;
		margin:30px;
		background-color:white;
		width:230px;
	}

#contact{
	text-align:center;
}
	#contact span{
		display:inline-block;
		margin:20px;
	}
	
	
#footer{
	
	background-color:#43489c;
	color:white;
}
	.footer_wrapper{
		width:1250px;
		height:100px;
		margin:auto;
		
		position:relative;
		
		vertical-align: middle;
	}
	#footer ul{
		display:inline-grid;
		
	}
	#footer .left{
		float:left;
		/*
		position:absolute;
		left:0px;
		*/
	}
	#footer .right{
		float:right;

		position:absolute;
		top:50%;
		right:0px;
	}
	#footer .right img{
		width:75px;
	}