@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	background-color:#e7e6eb;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
a{
	color:inherit;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
	cursor:pointer;

}
a:hover img{
	
	filter: drop-shadow(0px 0px 5px #CCC);
}
h1, h2, h3, h4, h5, h6{
margin:0px;
}
ul{
	list-style-type:none;

}

.special{
	background-color:#e4626e;
	color:white;
}
.specialText{
	color:#ed2632;
}
.container{
	margin:auto;
	width:max-content;	
}

.floatArea{
	float:right;
	height:768px;
	position:relative;
		
}
.floatArea .hideBtn{
	position:fixed;
	right:0px;
	top:40%;
	color:red;
}
.floatArea .hideBtn img{
height:90px;
margin-right:-15px;
}
.floatArea .chatBtn{
	position:fixed;
	right:0px;
	top:70%;
	color:red;
}
.floatArea .chatBtn img{
height:110px;
margin-right:-6px;
}

#header{
	z-index:99;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:72px;;
	background-color:white;
	color:#43489c;
	font-weight:bold;
	
	
	border-bottom:1px solid #eaeaea;
	  
	  box-shadow: 3px 6px 4px rgba(0,0,0,0.1);
}
	.fullMenu{
			position:relative;
			height:inherit;
	}
	#header img{
		height:40px;
	}
	#header .logo{
		margin: 0;
		position: absolute;
  		left:50px;
  		bottom:16px;	
	}
		#header .logo img{
		/*height:40px;*/
	}
	#header .midMenu{
		margin: 0;
  		position: absolute;
 		 top: 50%;
  		left: 50%;
  		-ms-transform: translate(-50%, -50%);
  		transform: translate(-50%, -50%);
		
	}
		#header .midMenu ul{
			display:inline-block;
			padding:0px;
			margin:0px;	
		}
		#header .midMenu li{
			display:inline-block;
			font-size:20px;
			padding:0px 15px;
		}
			#header .midMenu img{
				/*width:32px;*/
			}
	#header .rightMenu{
		position: absolute;
  		right: 50px;
 		bottom:16px;
		
	}
	#header .rightMenu span{
		display:inline-block;
 	 vertical-align: middle;
	}
	#header .rightMenu .login img{
		margin-right:6px;	
	}
	#header .rightMenu .search{
		margin-left:50px !important;
		margin-right:18px !important;
		
	}
	#header .rightMenu .navMenu{
		font-size:40px;
	}
	#header .rightMenu .search img{
		height:30px;
		
	}
	
#banner{
	background-color:white;
	text-align:center;
	color:#43489c;
	
}
	#banner{
		margin-top:65px;
		padding:65px 0px;
	}
	#banner h1{
		font-size:37px;
	}
	#banner h3{
		font-size:26px;
		margin-top:25px;
	}
	

#features{
	
}
	#features .col{
		display:inline-block;
		width:30%;
		text-align:center;
		padding:28px 1.5%;
	}
	#features .col span{
		display:inline-block;
 	 vertical-align: middle;
	 text-align:center;
	 	
	}
	#features img{
		float:left;
		height:140px;
		padding-right:45px;
	}
	#features .special img{
		padding-left:15px;
	}
	
#services{
	text-align:center;
	background-color:#43489c;
	color:white;
}
	#services h1{
		padding-top:36px;
		padding-bottom:18px;
	}
	#services ul{
		list-style-type:none;
		margin:0px;
		padding:0px;
	}
		#services li{
			display:inline-grid;
			width:130px;
			padding:18px;
		}
		#services h4{
			font-weight:normal;
		}

#content{

}
	
	#content .box{
		display:inline-grid;
		margin:45px;
		background-color:white;
		width:270px;
		position:relative;
	}
	#content h3{
		color:#43489c;
		font-size:23px;
	}
	#content a{
		color:#56c2d5;
		font-weight:bold;
		position:absolute;
		right:16px;
		bottom:8px;
		/*
		text-align:right;
		padding-right:20px;
		padding-bottom:10px;
		*/
	}
		#content .box img{
			width:100%;
		}
		#content .box div{
			padding:10px;
			padding-bottom:0px;
			width:auto;
		}

#contact{
	text-align:center;
}
	#contact span{
		display:inline-block;
		margin:10px 40px 20px;
	}
	#contact h2{
		padding-top:20px;
		font-size:32px;
	}
	#contact i{
		font-size:30px;
		padding-bottom:5px;
	}
	
	
#footer{
	
	background-color:#43489c;
	color:white;
}
	.footer_wrapper{
		width:1250px;
		height:100px;
		margin:auto;
		
		
		position:relative;
		vertical-align: middle;
	}
	#footer ul{
		display:inline-grid;
		
	}
	#footer .left{
		float:left;
		/*
		position:absolute;
		left:0px;
		*/
	}
	#footer .right{
		position:absolute;
		right:0px;
		top:40%;

	}
	#footer .right span{
		display:inline-block;
 	 vertical-align: middle;	
	}
	#footer .right img{
		width:75px;
	}